<div class="m-3">
  <div class="flex justify-end gap-2">
    <button mat-raised-button color="primary">
      <mat-icon fontIcon="add"></mat-icon>
      Add
    </button>
    <!-- <button mat-raised-button>
      <mat-icon fontIcon="edit"></mat-icon>
      Edit
    </button>
    <button mat-raised-button>
      <mat-icon fontIcon="delete"></mat-icon>
      Delete
    </button> -->
  </div>
  <ng-container *ngIf="projects$ | async as projects">
    <table mat-table [dataSource]="projects">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let project">{{ project.name }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let project">
          <button mat-raised-button>Employees</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
</div>
