<div class="m-3">
  <div class="flex justify-end gap-2">
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      <mat-icon fontIcon="add"></mat-icon>
      Add
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openCreateDialog(selectedEmployeeId)"
      [disabled]="!selectedEmployeeId"
    >
      <mat-icon fontIcon="edit"></mat-icon>
      Edit
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openConfirmDialog(selectedEmployeeId)"
      [disabled]="!selectedEmployeeId"
    >
      <mat-icon fontIcon="delete"></mat-icon>
      Delete
    </button>
  </div>

  <table mat-table [dataSource]="employees">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>

    <ng-container matColumnDef="entryDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.entryDate | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let employee">{{ employee.role.name }}</td>
    </ng-container>

    <ng-container matColumnDef="platoon">
      <th mat-header-cell *matHeaderCellDef>Platoon</th>
      <td mat-cell *matCellDef="let employee">{{ employee.platoon.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let employee">
        <button
          mat-raised-button
          class="ml-2"
          (click)="onProjectsClick($event)"
        >
          Projects
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="cursor-pointer hover:bg-gray-100"
      [class.!font-bold]="selectedEmployeeId === row.id"
      [class.!bg-gray-200]="selectedEmployeeId === row.id"
      (click)="selectEmployee(row.id)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
