<h1 mat-dialog-title>Manage Employee</h1>
<div mat-dialog-content>
  <form class="flex flex-col" [formGroup]="employeeFormGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="minDate"
        [max]="maxDate"
        formControlName="entryDate"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="mb-3" *ngIf="rolesStore$ | async as rolesStore">
      <label id="role">Role*</label>
      <mat-radio-group aria-labelledby="role" formControlName="roleId">
        @for (role of rolesStore.roles; track role.id) {
        <mat-radio-button [value]="role.id">{{ role.name }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>
    <mat-form-field *ngIf="platoonsStore$ | async as platoonsStore">
      <mat-label>Platoon</mat-label>
      <mat-select formControlName="platoonId">
        @for (platoon of platoonsStore.platoons; track platoon.id) {
        <mat-option [value]="platoon.id">{{ platoon.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!employeeFormGroup.valid">
    Save
  </button>
</div>
